.footer__title {
	font-family: "ptsans",Arial,sans-serif;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	font-weight: 700;
	margin-top: 33px;
}

.footer__item {
	display: flex;
	justify-content: center;
	margin-top: 33px;

	li {
		width: 46px;
		height: 48px;
		background-color: #81b3d2;
		margin: 3px;

		&:hover {
			background-color: #669ec0;
		}

		&:active {
			background-color: #5496bd;
		}
	}

	&__twitter {
		content: url("../img/icon-twitter.svg.png");
		width: 18px;
		height: 14px;
		object-fit: none;

		a {
			opacity: 0;
		}
	}

	&__facebook {
		content: url("../img/icon-facebook.svg.png");
		width: 9px;
		height: 18px;
		object-fit: none;

		a {
			opacity: 0;
		}
	}

	&__youtube {
		content: url("../img/icon-youtube.svg.png");
		width: 20px;
		height: 14px;
		object-fit: none;

		a {
			opacity: 0;
		}
	}
}

.footer__developed {
	display: flex;
	justify-content: center;

	p {
		font-family: "ptsans",Arial,sans-serif;
		font-size: 13px;
		line-height: 26px;
		font-weight:400;
		margin-top: 23px;
		margin-left: -9px;

		&::after {
			content: url("../img/htmlacademy.svg.png");
			position: relative;
			top: 13px;
			left: 11px;
		}
	}
}

@media (min-width: 320px) {

	.footer {
		width: 280px;
		margin: 0 auto;
	}
}

@media (min-width: 768px) {

	.footer {
		width: 648px;
		height: 120px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	.footer__title {
		font-size: 19px;
		margin-top: 42px;
	}

	.footer__item {
		margin-top: 28px;
		margin-left: -20px;
	}

	.footer__developed {
		padding-right: 10px;
	}

}

@media (min-width: 1280px) {

	.footer {
		width: 960px;
		margin: 0 auto;
	}

	.footer__title {
		margin-top: 55px;
	}
}
