body {
  width: 320px;
  padding: 0px;
  margin: 0px;
  font-family: arial, sans-serif;
  text-transform: uppercase;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

fieldset {
  border: 0 none;
}

h1 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
